@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*общие настройки*/
body{
    font-family: "Roboto", sans-serif;
    background-color: #262626;
    color: white;
    margin: 0;
}

html, body {
    overflow-x: hidden;
  }

@media (max-height: 1000px) {
    ul {
      text-align: center;
    }
  }

h3, h4, h5, h6 {
    font-weight: 400;
}

h1, h2 {
    font-weight: 500;
}

p{
    margin-bottom: 10px;
    margin: 0;
}

p + p {
    margin-top: 15px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-position: inside;
    display: flex;
    align-items: center;
}


/* Шапка*/

.header {
    padding: 15px ;
    width: 100%; 
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
        width: 75px;
        height: 75px;
}

.header__nav a{
font-size: 14px;
opacity: 0.7;
font-weight: 400;
}

.header__nav a:hover{
    opacity: 0.9;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирует элементы внутри списка */
    gap: 20px;
}

.header__list li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__list a {
    display: inline-block;
    text-align: center; /* Центрирует текст внутри ссылки */
    padding: 10px 15px;
    font-size: clamp(12px, 2vw, 14px);
    white-space: nowrap;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }

.btn {
    width: 75px;
    height: 75px;

    display: flex;
}


.welcome{
    box-sizing: border-box;
    min-height: 100vh;

    padding: 240px 0 ;

    background-image: url('../header__bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.footer__logo {
    height: 100px;
    width: 100px;
}

.footer {
    background-color: #312f30;

    padding: 30px 0 60px;
}

.footer__logo {
    width: 175px;
    height: 175px;
}

footer a {
    font-size: 12px;
    opacity: 0.8;

}

.footer .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.footer__title{
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;

    color: white;

    padding-bottom: 15px;
}

.whatsapp {
    max-width: 12px;

}

.mail {
    max-width: 12px;
}




@media (max-width: 600px) {
    .header__list {
      flex-direction:row;
      gap: 10px;
    }
  
    .header__list a {
      width: 100%;
      padding: 12px;
      font-size: 14px;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }
    .container {
        padding: 10px;
    }
    .prof__list{
        padding: 0px;
    }
  }